# Please request these settings from mrt64@bath.ac.uk
VITE_APP_TITLE=IRIS Starter
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_LICENSE_URL="https://iris.cs.bath.ac.uk/"
# Please set this to the path of your iris_cli executable
IRIS_CLI_EXE=
IRIS_MODELS_DIR=
